/* style of jumbo.css */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


body{
    height: 80vh;
    width: 1263px;
    margin: 0;  
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: stretch;
}


/*stopka*/

footer {
    width: 1263px;
    height: 140px;
    background-color: #30343f;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
}

.icon{

}

/*main*/

.main{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
}

/*treść*/

.content {
    width: 670px;
    height: 470px;
    background-color: #db5461;
}
.content a img{
    margin: 50px 0 0 100px;
}

#cont p {
    margin: 50px 0 0 100px;
    font-size: 32px;
}

#cont button {
    margin: 50px 0 0 100px;
    width: 200px;
    height: 60px;
}
/*obraz*/

.image-back{
    background-image: url('images/background_header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    width: 670px;
    height: 470px;
    position: relative;
}

/*menu*/

ul{
    width: 445px;
    height: 53px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    background-color: #ffffff;
    top: 100px;
    position: absolute;
    left: 58px;
}
