/* style of jumbo.css */
body{
    height: 100vh;
    margin: 0;  
    font-family: "Lato", sans-serif;

}
#footer {
    width: 1298px;
    height: 140px;
    background-color: #30343f;
    display: flex;
    justify-content: space-between;
}
#main {
    width: 1298px;
}

.content {
    width: 859px;
    height: 711px;
    background-color: #db5461;
    
}
.image-back{
    background-image: url('images/background_header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    width: 713px;
    height: 711px;
    position: relative;
}
ul{
    width: 445px;
    height: 53px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    background-color: #ffffff;
    top: 81px;
    position: absolute;
    left:232px;
}