/* style of jumbo.css */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


body{
    height: 80vh;
    width: 1263px;
    margin: 0;  
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: stretch;
}


/*stopka*/

footer {
    width: 1263px;
    height: 140px;
    background-color: #30343f;

}
.footer {
    display: flex;
    flex-flow:row nowrap;
    justify-content:center;
}

.icon img{
    margin: 50px 150px 50px 150px;
    width: 50px;
    height: 50px;
}

/*main*/

.main{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

/*treść*/

.content {
    width: 520px;
    height: 470px;
    background-color: #db5461;

}
.content::before{
    content:'';
    display: block;
    background-color: #db5461;
    width: 150px;
    height: 470px;
    position: absolute;
    left: 450px;
    transform: skewX(15deg);
    transition: rotate(-25deg);
}

.content a img{
    margin: 50px 0 0 100px;
}

#cont p {
    margin: 50px 0 0 100px;
    font-size: 26px;
    color: aliceblue;
    text-transform: uppercase;
    line-height: 2;
}

#cont span{
    color:  #30343f;
}

#cont button {
    margin: 50px 0 0 100px;
    border-radius: 35px;
    border-color: white;
    width: 200px;
    height: 60px;
    background-color: brown;
}

#cont .btn {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
}
/*obraz*/

.image-back{
    background-image: url('images/background_header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 760px;
    height: 470px;
}

/*menu*/

ul {
    width: 400px;
    height: 53px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    background-color: #ffffff;
    margin: 50px 0 0 250px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    border-radius: 5px;
}

li {
    justify-content: space-around;
    margin: auto;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 20px;
}

.hamburger{
    width: 40px;
    height: 35px;
    border: 0;
    border-top: 5px solid #fff;
    background: gray;
    display:block;
    flex-flow: row wrap;
    justify-content: center;
    left:0;

}
/*
.hamburger::before, .hamburger::after{
    content: '';
    display: block;
    width: 100%;
    border-top: 5px solid #fff;
    transform: translateY(10px);
}
.hamburger::after{
    transform: translateY(25px);
}*/
/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .hamburger{
        display: none;
    }

}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .hamburger{
        display: none;
    }


}

/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .hamburger{
        display: none;
    }


}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    body{
        width: 100vw;}
    footer {
        width: 100vw;}
    .content {
        width: 100vw;}
    .content::before{
        display: none;}
    .image-back {
        display: none;}
    .navbar{
        width: 45vw;
        margin: 5px;}
    .hamburger{

    }


}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .image-back {
        width: 20vw;}
    .content {
        width: 80vw;}
    .content::before{
        display: none;}
    .navbar{
        display: none;}
}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .image-back {
        display:none;}
    .content {
        width: 100vw;}
    .content::before{
        display: none;}

}
